{% extends 'base.html.twig' %}

{% block title %} register Symfony_Epytodo {% endblock %}

{% block body %}
<h1>Inscription à l'Epytodo</h1>
  {{ form_start(form) }}
  {{ form_row(form.username, {'label': 'Username','attr': {'placeholder': 'Nom dutilisateur ...'}}) }}
  {{ form_row(form.password, {'label': 'password', 'attr': {'placeholder': 'password ...'}}) }}
  <button type="submit" class="btn btn-success">Register</button>
  {{form_end(form)}}
{% endblock %}
